/*EEC_twitchTv*/
h1{
  text-align: center;
  font-size: 60px;
  font-family: 'Crushed', cursive;
}
h2{
  text-align: center;
  font-size: 30px;
  font-family: 'Crushed', cursive;
}
.card-title{
  background: black;
  margin:0px;
  padding: 0px;
  border:none;
  border-radius: 5px;
}
.card-image{
  height: 200px;
  background-repeat: no-repeat;
  /*background-size: 100% auto;*/
  background-size: cover;
  background-position:center;
}

